.container {
	display: flex;
	background: var(--bg-elevated);
	color: var(--fg-primary);
	border: 1px solid var(--border-strong);
	padding: 4px;
	border-radius: 8px;
	gap: 8px;
	align-items: center;
	cursor: pointer;
	isolation: isolate;

	.thumbContainer {
		width: 32px;
		height: 32px;
		border-radius: 4px;
		flex-shrink: 0;
		overflow: hidden;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			inset: 0px;
			border: 1px solid var(--border-strong);
			z-index: -1;
		}

		.thumb {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.title {
		margin-right: 8px;
	}
}
