.top {
	display: flex;
	gap: 32px;
	margin: 16px;

	.coverArt {
		width: 240px;
		height: 240px;
		flex-grow: 0;
		flex-shrink: 0;
		border-radius: 8px;
	}

	.topInfo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 4px;
		flex-grow: 1;

		.title {
			font-size: 3rem;
			font-family: var(--font-heading);
		}

		.ownerContainer {
			display: flex;
			gap: 16px;
			align-items: center;

			.ownerLink {
				text-decoration: underline;
				color: var(--fg-secondary);
			}

			.visibilityButton {
			}
		}

		.topButtons {
			padding-top: 12px;
		}

		.updateProgress {
			margin-top: 8px;
		}
	}
}
