.container {
	border: none;
	display: flex;
	padding: 3px;
	gap: 6px;
	align-items: center;
	position: relative;
	background: var(--bg-background);

	&:hover {
		background: var(--bg-surface);
	}

	.trackNumber {
		width: 38px;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--fg-tertiary);
		font-weight: bold;
		position: relative;

		.playButton {
			display: none;
			position: absolute;
			inset: 0;
			justify-content: center;
			align-items: center;
		}
	}

	.imageContainer {
		width: 38px;
		height: 38px;
		position: relative;
		isolation: isolate;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		flex-shrink: 0;

		.cover {
			position: absolute;
			z-index: -1;
			inset: 0;
			flex-shrink: 0;
			border-radius: 4px;
			overflow: hidden;
		}
	}

	.info {
		display: flex;
		flex-grow: 1;

		.title,
		.artist,
		.album {
			flex: 1;
			text-align: left;
		}
	}

	&:hover,
	&:focus,
	&:has(:focus) {
		.playButton {
			opacity: 1;
		}
	}

	&:focus {
		z-index: 1;
	}

	&.active,
	&:hover {
		.trackNumber {
			.playButton {
				display: flex;
			}

			.cover {
				opacity: 0.5;
			}
		}
	}
}
