.container {
	border: none;
	display: flex;
	gap: 3px;
	align-items: center;
	position: relative;
	background: var(--bg-surface);
	border-radius: 8px;
	height: 54px;

	&:has(:focus) {
		outline: 1px solid var(--accent-primary);
		// background: var(--bg-elevated);
		outline-offset: -0.5px;
		z-index: 1;
	}

	&:hover {
		background: var(--bg-hover);
	}

	.main {
		display: flex;
		flex-grow: 1;
		display: flex;
		align-items: center;
		overflow: hidden;
		padding: 4px 0;

		.trackNumberContainer {
			width: 42px;
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			color: var(--fg-tertiary);
			font-weight: bold;
			position: relative;

			.playButton {
				display: none;
				position: absolute;
				inset: 0;
				justify-content: center;
				align-items: center;
			}
		}

		.imageContainer {
			width: 42px;
			height: 42px;
			position: relative;
			isolation: isolate;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			flex-shrink: 0;
			background: var(--bg-elevated);
			border-radius: 4px;
			overflow: hidden;

			&:focus {
				outline: 2px solid var(--accent-primary);
				outline-offset: 2px;
			}

			.cover {
				position: absolute;
				z-index: -1;
				inset: 0;
				flex-shrink: 0;
			}
		}

		.info {
			display: flex;
			flex-grow: 1;
			margin-left: 12px;
			flex-direction: column;
			overflow: hidden;
			align-items: flex-start;

			.title {
				white-space: pre;
				text-overflow: ellipsis;
				overflow: hidden;

				&:focus {
					color: var(--accent-primary);
					outline: none;
					text-decoration: underline;
				}
			}

			.artist {
				font-size: 0.8rem;
				white-space: pre;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			.title,
			.artist,
			.album {
				flex: 1;
				text-align: left;
			}
		}
	}

	.column {
		flex-grow: 0;
		flex-shrink: 0;

		color: var(--fg-secondary);
		height: 100%;
		display: flex;
		align-items: center;

		.columnValue,
		.columnLink {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: pre;
		}

		.columnLink {
			text-decoration: underline;

			&:focus {
				color: var(--accent-primary);
				outline: none;
			}
		}

		.bufferLink {
			margin: 0 4px;

			.bufferLinkIcon {
				color: var(--fg-secondary);
			}

			&:focus {
				.bufferLinkIcon {
					color: var(--accent-primary);
				}
			}
		}
	}

	&:hover,
	&:focus,
	&:has(:focus) {
		.playButton {
			opacity: 1;
		}
	}

	&:focus {
		z-index: 1;
	}

	&.active,
	&:hover {
		.trackNumberContainer {
			.playButton {
				display: flex;
			}

			.trackNumber {
				opacity: 0;
			}
		}
	}
}
