.container {
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	isolation: isolate;

	.body {
		display: flex;
		flex-grow: 1;
		align-items: stretch;
		margin-bottom: 8px;

		.contentPlacement {
			flex-grow: 1;
			position: relative;
			overflow-x: hidden;
			overflow-y: auto;
			background: var(--bg-surface);
			border-radius: 8px;
			margin: 0 8px;

			.content {
				position: absolute;
				inset: 0;
				isolation: isolate;
				display: flex;
				flex-direction: column;
			}
		}
	}
}
