.positioner {
	--width: 200px;

	width: var(--width);
	max-width: var(--width);
	flex-shrink: 0;
	overflow: hidden;
	position: relative;
	transition: width 0.3s cubic-bezier(0.43, 0, 0.18, 0.99);
	background: var(--bg-base);

	.container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 8px;
		width: calc(var(--width) - 8px * 2);
		background: var(--bg-surface);
		border-radius: 8px;
		display: flex;
		flex-direction: column;

		.main {
			flex-grow: 1;

			.sectionName {
				color: var(--fg-tertiary);
				font-size: 0.8rem;
				margin: 0 8px;
			}
		}

		.bottom {
			flex-shrink: 0;
			padding: 8px;
		}
	}
}
