.checkbox {
	width: 24px;
	height: 24px;
	background: var(--bg-elevated);
	display: block;
	border: 2px solid var(--border-strong);
	border-radius: 8px;
	cursor: pointer;
	position: relative;

	&.checked {
		background: var(--accent-primary);
	}

	&:disabled {
		background: var(--fg-muted);
		cursor: initial;

		.tick {
			color: var(--fg-secondary);
		}
	}

	.tick {
		width: 100%;
		height: 100%;
	}
}
