.positioner {
	--width: 400px;

	width: 0;
	max-width: var(--width);
	flex-shrink: 0;
	overflow: hidden;
	position: relative;
	transition: width 0.3s cubic-bezier(0.43, 0, 0.18, 0.99);
	background: var(--bg-base);

	&.open {
		width: 400px;
	}

	.container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: calc(var(--width) - 8px);
		background: var(--bg-surface);
		border-radius: 8px;
		padding: 8px;

		.queue {
			max-height: 100%;
			overflow-y: scroll;
		}
	}
}
