.container {
	margin-top: 64px;

	.heading {
		font-size: 2rem;
	}

	.tabs {
		margin: 16px 0;
	}

	.sectionTitle {
		font-size: 1.5rem;
		margin-bottom: 16px;
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}
}

.loading {
	height: 300px;
}

.originMessage {
	display: block;
	margin: 16px 0;
	font-size: 1.5rem;
	font-weight: bold;
}
