.artistName {
	color: var(--fg-secondary);

	&.artistLink {
		text-decoration: underline;

		&:focus {
			color: var(--accent-primary);
			outline: none;
		}
	}
}

.artistJoin {
	color: var(--fg-tertiary);
}
