.container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;

	.ephemeralSources {
		display: flex;
		flex-wrap: wrap;

		.ephemeralSourceButton {
			border: none;
			background: var(--button-secondary-bg);
			color: var(--button-secondary-fg);
			cursor: pointer;
			font-size: 1rem;
			padding: 4px 8px;
			border-radius: 50px;

			&:hover {
				background: var(--button-secondary-hover);
			}

			&:active {
				background: var(--button-secondary-active);
			}

			&.active {
				background: var(--button-primary-bg);
				color: var(--button-primary-fg);

				&:hover {
					background: var(--button-primary-hover);
				}

				&:active {
					background: var(--button-primary-active);
				}
			}
		}
	}

	.results {
		margin-top: 16px;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
}
