.container {
	padding: 8px;
	min-height: 100svh;
	display: flex;
	align-items: stretch;

	.sideBar {
		position: fixed;
		top: 8px;
		left: 8px;
		bottom: 8px;
		width: 200px;
		// background: var(--bg-elevated);
		background: var(--bg-surface);
		border-radius: 8px;

		.tabs {
			display: flex;
			flex-direction: column;

			a {
				padding: 6px;
			}
		}
	}

	.content {
		flex-grow: 1;
		margin-left: 208px;
		display: flex;
		flex-direction: column;
		position: relative;
	}
}
